/*
 * Copyright (c) 2024 STMicroelectronics
 *
 * SPDX-License-Identifier: Apache-2.0
 */
#include <zephyr/dt-bindings/sensor/iis3dwb.h>


/*
 * Nucleo F401RE board + shield iks4a1
 *
 * This devicetree overlay file will be automatically picked by the Zephyr
 * build system when building the sample for the nucleo_f401re board.
 */

/ {
	aliases {
		stream0 = &iis3dwb_0;
	};
};

&spi1 {
	iis3dwb_0: iis3dwb@0 {
		compatible = "st,iis3dwb";

		reg = <0>;
		spi-max-frequency = <DT_FREQ_M(10)>;

		range = <IIS3DWB_DT_FS_2G>;
		odr = <IIS3DWB_DT_ODR_26k7Hz>;
		filter = <IIS3DWB_DT_LP_ODR_DIV_4>;
		//wakeup-duration = <IIS3DWB_DT_ODR_0>;
		//wakeup-ths-weight = <IIS3DWB_DT_LSB_FS_DIV_64>;
		//wakeup-threshold = <2>;
		int1-gpios =  <&arduino_header 5 GPIO_ACTIVE_HIGH>; /* A5 (PC0) */
		drdy-pin = <1>;
		drdy-pulsed;

		fifo-watermark = <500>;
		accel-fifo-batch-rate = <IIS3DWB_DT_XL_BATCHED_AT_26k7Hz>;
		temp-fifo-batch-rate = <IIS3DWB_DT_TEMP_BATCHED_AT_104Hz>;
		timestamp-fifo-batch-rate = <IIS3DWB_DT_TS_NOT_BATCHED>;
	};
};
